.profile-checkbox-wrapper{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.profile-checkbox{
  width: 50px;
  height: 50px;
}
.profile-container {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;

}
.profile-checkbox-btn{
  width: 50px;
  height: 50px;
  background-color: yellowgreen;
  padding: 0;
}
