.chats-wrapper{
  display: flex;
  flex-direction: column;
}
$primary:   #864f12;
.add-chat{
&__input{
  border-radius: 10px;
  border: 1px solid $primary;
  border-right: none;
  border-top-right-radius: 0 ;
  border-bottom-right-radius: 0 ;
  outline: none;
  height: 1.2em;
}
&__btn{
  border-radius: 10px;
  border: 1px solid $primary;
  border-top-left-radius: 0 ;
  border-bottom-left-radius: 0 ;
  background-color: $primary;
  color: #ffffff;
  &:hover{
    background-color: #ffffff;
    color: $primary;
  }
  
}
}
